node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

.env
.env.local
.env.development
.env.production
.env.test

dist/
build/
.out/
.next/
.vercel/

logs/
*.log
log.txt

.cache/
.tmp/
temp/
tmp/
*.tmp


.DS_Store

Thumbs.db

.vscode/
.history/

.nyc_output/
coverage/

*.tsbuildinfo

venv/


Cache/
**/Cache/
*.sqlite
*.db


playwright/
**/playwright/

backend/chromium_user_data/
chromium_user_data/